{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=href="http://i64.tinypic.com/16712q1.png">
    <title>Modular Kitchen Company</title>
    <link href="https://s3.ap-south-1.amazonaws.com/elasticbeanstalk-ap-south-1-094296336604/index_html/landing_page.css" rel="stylesheet">
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="https://s3.ap-south-1.amazonaws.com/elasticbeanstalk-ap-south-1-094296336604/index_html/landing_page.js"></script>
</body>
</html>